*, ::before, ::after { box-sizing: border-box; padding: 0; margin: 0; }

html {
    background: url(images/supplies1.jpg);
    background-position: bottom center;
    background-size: cover;
    height: 100%;
    height: 100vh;
    overflow: hidden;
    font-size: 12px;
}
body {
    height: 100vh;
}

.flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}


/* ---- CONTAINER ---- */
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1200px;
    width: 300px;
    height: 430px;
    background: rgb(43, 42, 42);
    border-radius: 20px;
    color: #fff;
}
.container-calculatrice {
    padding: 25px;
    justify-content: space-between;
}
.container-zero {
    position: relative;
    display: inline-block;
    transition: all 0.5s ease;
    background: black;
    width: 120px;
    border-radius: 30px;
    cursor: pointer;
}


/* ---- DISPLAY RESULT ---- */
.result {
    position: relative;
    width: 100%;
    height: 70px;
    background: white;
    color: black;
    border-radius: 5px;
}
.previous-num {
    text-align: right;
    font-size: 13px;
}
.current-num {
    position: absolute;
    text-align: right;
    top: 23px;
    right: 2px;
    font-size: 23px;
    line-height: 20px;
}


/* ---- BUTTON ---- */
.group-button {
    margin-top: 20px;
}
button {
    transition: all 0.5s ease;
    border-radius: 50%;
    height: 50px;
    border: none;
    width: 50px;
    color: #FFF;
    background: black;
    cursor: pointer;
}
button.orange {
    background: rgb(247, 115, 7);
}
button.grey {
    background: rgb(135, 140, 143);
}
button:not(.zero):hover,
.container-zero:hover {
    transform: translateY(-7px);
}
.zero {
    position: absolute;
    right: 2px;
}


/* ANIMATION */
.test{
    animation: fadeup 0.5s ease;
}
@keyframes fadeup {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-7px);
    }
    100% {
        transform: translateY(0);
    }
}
